{% extends "base.html" %}

{% block title %}비밀번호 변경{% endblock %}

{% block content %}
    <h1>비밀번호 변경</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password }}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
